<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум C++</title>
    <link rel="stylesheet" href="static/css/styles_forum.css"> <!-- Используем тот же CSS файл -->
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="static/images/logo.png" alt="Логотип сайта" />
            </a>
        </div>
        <nav>
            <button id="course-button" class="active">Курс</button>
            <button id="forum-button">Форум</button>
        </nav>
        <div class="auth">
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            {% if session.get('user_id') %}
                <!-- Ссылка на профиль авторизованного пользователя -->
                <a href="/profile/{{ session['user_id'] }}" class="user-avatar">
                    <img src="/static/images/user-avatar.png" alt="Профиль" class="user-avatar">
                </a>
            {% else %}
                <!-- Если пользователь не авторизован, показываем аватарку без ссылки -->
                <img src="/static/images/user-avatar.png" alt="Профиль" class="user-avatar">
            {% endif %}
        </div>
            </a>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Найдите решение собственной проблемы на C++ PRO</h2>
            <div class="buttons">
                <!-- Используем тег <a> для создания ссылки, стилизованной под кнопку -->
                <a href="/new_question" class="btn">Задать вопрос</a>
                <a href="/my_questions" class="btn">Список моих вопросов</a>
            </div>
            <div class="questions">
                {% if questions %}
                    {% for question in questions %}
                        <div class="question">
                            <a href="/question/{{ question.id }}">{{ question.title }}</a>
                            <div class="meta">
                                {{ question.likes }} голосов | 0 ответов | Автор: {{ question.author_username }} | {{ question.created_at }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>На форуме пока нет вопросов.</p>
                {% endif %}
            </div>
        </div>
    </main> 
    <script src="static/js/script2.js"></script>
</body>
</html>