<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум C++</title>
    <link rel="stylesheet" href="static/css/styles_forum.css"> <!-- Используем тот же CSS файл -->
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="static/images/logo.png" alt="Логотип сайта" />
            </a>
        </div>
        <nav>
            <button id="course-button" class="active">Курс</button>
            <button id="forum-button">Форум</button>
        </nav>
        <div class="auth">
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            <a href="/profile" class="user-avatar">
                <img src="static/images/user-avatar.png" alt="Профиль" />
            </a>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Найдите решение собственной проблемы на C++ PRO</h2>
            <div class="buttons">
                <!-- Используем тег <a> для создания ссылки, стилизованной под кнопку -->
                <a href="/new_question" class="btn">Задать вопрос</a>
                <button onclick="location.href='/my_questions'">Список моих вопросов</button>
            </div>
            <div class="questions">
                <div class="question">
                    <a href="/question/1">Как сложить две переменные?</a>
                    <div class="meta">0 голосов | 0 ответов | denis-sadovnik | 2 апреля 2024</div>
                </div>
                <div class="question">
                    <a href="#">Как работает система ввода-вывода в C++ и чем отличаются cin/cout от scanf/printf?</a>
                    <div class="meta">0 голосов | 0 ответов | plan_banan | 1 января 2023</div>
                </div>
            </div>
        </div>
    </main> 
    <script src="static/js/script2.js"></script>
</body>
</html>