/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.user-avatar {
    width: 40px; /* Фиксированная ширина аватарки */
    height: 40px; /* Фиксированная высота аватарки */
    object-fit: cover; /* Обрезка изображения под заданные размеры */
    border-radius: 50%; /* Округление углов для круглой формы */
    cursor: pointer; /* Указатель мыши при наведении */
}

.user-avatar img {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: 100%; /* Изображение занимает всю высоту контейнера */
    object-fit: cover; /* Обрезка изображения под заданные размеры */
    border-radius: 50%; /* Округление углов для круглой формы */
}
.header {
    position: fixed; /* Фиксированное положение */
    top: 0; /* Прижат к верху */
    left: 0; /* Прижат к левому краю */
    width: 100%; /* Занимает всю ширину экрана */
    padding: 10px 20px; /* Отступы внутри хедера */
    z-index: 1000; /* Чтобы хедер был поверх других элементов */
    display: flex; /* Используем флексбокс для выравнивания */
    align-items: center; /* Выравнивание по вертикали */
}

.container {
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007acc;
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: gray;
    font-size: 12px;
    text-transform: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me label {
    font-size: 14px;
    margin-top: 5px;
}

.remember-me input[type="checkbox"] {
    width: 20px;
    margin: 0;
    margin-right: 5px;
    /* Небольшой отступ справа от чекбокса */
}

button.btn {
    background-color: #007acc   ;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button.btn:hover {
    background-color: #007acc;
}

a {
    color: #007acc;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
}
.logo-link {
    display: inline-block;
    text-decoration: none;
}

.logo {
    width: 50px; /* Размер логотипа */
    height: auto;
    cursor: pointer;
}
